.special_products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ECECEC;

  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include Tablet {
    padding-left: 50px;
    padding-right: 50px;
  }

  &__sale_sign {
    @include sign;
  }

  &__title {
    @include title;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;

    @include Phone {
      grid-template-columns: repeat(1, 1fr);
    }

    @include Tablet {
      grid-template-columns: repeat(1, 1fr);
    }

    @include Notebook {
      grid-template-columns: repeat(2, 1fr);
    }

    @include Full1650 {
      grid-template-columns: repeat(4, 1fr);
    }

    .card {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: white;
      cursor: pointer;

      .image_block {
        overflow: hidden;
        height: 180px;
        width: 180px;

        @include Tablet {
          width: 50%;
          height: auto;
        }

        @include Phone {
          width: 50%;
          height: auto;
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.1);
        }
      }

      &__title {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
          font-size: 15px;
          font-family: 'Jost', sans-serif;
        }

        .price {
          font-size: 17px;
          font-family: 'Jost', sans-serif;
        }
      }
    }
  }
}
