.cabinet_page {
  padding: 0;

  .main_block__menu {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;

    @include Tablet {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include Phone {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__item {
      @include button;
      color: white;
      cursor: pointer;

      &--active {
        @include button;
        color: white;
        cursor: pointer;
        border-bottom: 1px solid white;
        padding-bottom: 2px;
      }
    }
  }
}