.cabinet_page {
  padding: 0;
  position: absolute;

  .error__message {
    width: 300px;
    position: fixed;
    top: 168px;
    right: -350px;
    padding: 30px;
    background-color: #88B13E;
    border: none;
    border-radius: 10px;
    @include button;
    background-color: rgba(247, 0, 0, 20%);
    transition: all 1s;   
  }

  .success__message {
    width: 300px;
    position: fixed;
    top: 168px;
    right: -350px;
    padding: 30px;
    background-color: rgba(136, 177, 62, 20%);
    border: none;
    border-radius: 10px;
    @include button;
    transition: all 1s;
  }

  .main_block__menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 2px solid #ECECEC;

    @include Tablet {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include Phone {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__item {
      @include button;
      color: #888888;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: black
      }
    }

    .active {
      color: black;
    }
  }

  .main__block__pages {
    background-color: white;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;

    @include Tablet {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include Phone {
      padding-left: 20px;
      padding-right: 20px;
    }

    .pages__empty_message {
      display: none;
      height: 400px;
      justify-content: center;

      .message {
        margin-top: 60px;
        @include title;
        color: #88B13E;
        text-align: center;
      }

      &--active {
        display: flex;
      }
    }

    .pages__page {
      width: 100%;
      display: none;
    }

    .show {
      display: flex;
    }

    .pages__my_information {
      gap: 10px;
      flex-direction: column;
      align-items: center;

      .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
        background-color: #D0E2E2;
        border: none;
        border-radius: 10px;
        max-width: 520px;
        width: 100%;

        .form__label {
          width: 100%;
          @include title;
          text-align: center;
        }

        .form__input {
          height: 46px;
          background-color: #F5F5F5;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 20px;
          @include text;
          border: none;
          margin-bottom: 20px;
          border-radius: 4px;

          &:focus {
            border-bottom: 1px solid black;
          }
    
          &:invalid:not(:focus):not(:placeholder-shown) {
            color: #eb5757;
            border-bottom: 1px solid #eb5757 ;
          }
    
          &:invalid:focus:not(:placeholder-shown) {
            color: #eb5757;
            border-bottom: 1px solid #eb5757 ;
          }
    
          &:valid:not(:placeholder-shown) {
            color: #60A00C;
            border-bottom: 1px solid #60A00C;
          }
        }

        .form__button {
          width: 100%;
          align-self: center;
          border: none;
          padding: 0 5px;
          background-color: black;
          height: 46px;
          @include button;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          line-height: 100%;
          transition: all 0.5s;
          color: white;
          line-height: 46px;
          border-radius: 4px;
        }
      }
    }

    .pages__my_orders {
      gap: 30px;
      align-self: flex-start;
      flex-direction: column;

      .pages__my_orders__order {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #ECECEC;

        .order__id {
          @include button;
          font-size: 20px;
        }

        .order__date {
          @include text;
        }

        .order__product_list {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .product_list__product {
            display: flex;
            flex-direction: row;
            gap: 15px;

            .product__image {
              object-fit: cover;
              background-color: #888888;
              width: 80px;
              height: 80px;
              border-radius: 20px;
            }

            .product__information {
              display: flex;
              flex-direction: column;
              gap: 7px;

              &__name {
                @include button;
              }

              &__count, &__total_price {
                @include text;
              }
            }
          }
        }

        .order__total_price {
          justify-self: flex-end;
          display: flex;
          gap: 10px;

          &__title, &__amount {
            @include small_title;
          }
        }
      }
    }

    .pages__my_fav {
      flex-direction:  column;
      gap: 20px;

      .product_card {
        display: flex;
        gap: 30px;
        align-items: center;
        padding-left: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 50px;
        border: 1px solid #ECECEC;
        max-width: 620px;
    
        @include Phone {
          flex-direction: column;
          // flex-wrap: wrap;
          align-items: flex-start;
          gap: 10px;
        }
    
        &__block {
          display: flex;
    
          @include Phone {
            flex-direction: column;
            gap: 15px;
          }
    
          @include Tablet {
            flex-direction: column;
            gap: 15px;
          }
        }
    
        &__image {
          object-fit: cover;
          width: 210px;
          height: 210px;
          border-radius: 20%;
          cursor: pointer;
    
          @include Phone {
            width: 100px;
            height: 100px;
          }
        }
    
        .text {
          display: flex;
          flex-direction: column;
          border-right: 1px solid #ECECEC;
          padding-left: 15px;
          padding-right: 10px;
          min-width: 110px;
          cursor: pointer;
    
          @include Phone {
            border: none;
            padding: 0;
          }
    
          @include Tablet {
            border: none;
          }
    
          &__name {
            color: black;
            font-size: 25px;
            font-family: 'Jost', sans-serif;
            margin-bottom: 5px;
            cursor: pointer;
    
            @include Phone {
              font-size: 20px;
            }
          }
    
          &__price {
            @include sign;
            margin-bottom: 20px;
          }
    
          &__color {
            @include sign;
            margin-bottom: 5px;
          }
    
          &__size {
            @include sign;
            margin-bottom: 5px;
          }
    
          &__category {
            @include sign;
            margin-bottom: 5px;
          }
    
          &__description {
            @include button;
          }
        }
    
        &__buttons {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          justify-content: space-between;
          gap: 10px;
          cursor: pointer;
    
          @include Phone {
            flex-direction: row;
            padding: 0;
          }
    
          @include Tablet {
            flex-direction: row;
          }
    
          .icon {
            width: 35px;
            height: 35px;

            .circle__delete_fav {
              fill: #60A00C;
    
              &:active {
                fill: white;
              }
            }

            .icon__circle {
              fill: white;
    
              &:active {
                fill: #60A00C;
              }
            }
          }
        }
      }
    }
  }
}
