.categories {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 69px 150px;
  background-color: #F8F8F9;

  @include Phone {
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
  }

  @include Tablet {
    gap: 25px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @include Notebook {
    gap: 70px;
    padding-left: 100px;
    padding-right: 100px;
  }

  @include Full {
    padding-left: 200px;
    padding-right: 200px;
  }


  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      @include title;
    }

    &__arrows {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 40px;

      .arrow {
        width: 30px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    &__view {
      @include button;
      padding-bottom: 5px;
      width: max-content;
      border: 2px solid transparent;
      cursor: pointer;
      transition: border-bottom 0.5s;
    }

    &__view:hover {
      border-bottom: 2px solid #88B13E;
    }
  }

  .list {
    width: 50%;
    max-width: 600px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10%;  

    @include Phone {
      width: 90%;
    }

    &__caruosel {
      display: flex;
      transition: all ease 1s;

      .caruosel__image {
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}
