.news {
  background-color: white;
}


.news__container {
  transform: translateY(-100px);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;

  @include Full {
    margin-left: 200px;
    margin-right: 200px;
  }

  @include Tablet {
    margin-left: 100px;
    margin-right: 100px;
  }

  @include Phone {
    margin-left: 20px;
    margin-right: 20px;
    transform: none;
  }

  .sign {
    @include sign;
    align-self: center;
  }

  .title {
    @include title;
    align-self: center;
  }

  .post_block {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .post_block__arrows {
      display: flex;
      gap: 10px;

      .arrow {
        width: 10px;
        height: 10px;
        background-color: gray;
        opacity: 0.7;
        border-radius: 50%;
        cursor: pointer;
      }

      .arrow:active {
        background-color: black;
        opacity: 0.8;
      }
    }

    .post_block__caruosel {
      display: flex;
      transition: all ease 1s;
      align-self: flex-start;
    }

    .post {
      display: flex;
      flex-direction: column;
      gap: 25px;

      &__image:hover {
        transform: scale(1.1);
      }

      &__image {
        transition: transform, 0.5s;
        cursor: pointer;
        object-fit: cover;
      }

      &__sign {
        @include sign;
      }

      &__title {
        @include small_title;
      }

      &__text {
        @include text;
      }

      &__information {
        @include text;
        display: flex;
        gap: 10px;
      }
    }
  }


  .view_all {
    @include button;
    text-decoration: none;
    align-self: center;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-bottom 0.5s;
    padding: 5px;
  }

  .view_all:hover {
    border-bottom: 2px solid black;
  }
}