.products_page {
  .error__message_fav {
    width: 300px;
    position: fixed;
    top: 168px;
    right: -350px;
    padding: 30px;
    background-color: #88B13E;
    border: none;
    border-radius: 10px;
    @include button;
    background-color: rgba(247, 0, 0, 20%);
    transition: all 1s;
    
    &--active {
      right: 12px;
    }
  }
}

.title_section {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #D0E2E2;
  
  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @include Tablet {
    padding-left: 50px;
    padding-right: 50px;
  }

  .title {
    @include title;
  }
  .navigation {
    display: flex;
    gap: 10px;
    
    .link {
      @include button;
      text-decoration: none;

      &:nth-of-type(1):after {
        content: '    >>'
      }
    } 

    .link--active {
      @include button;
      color: #88B13E;
    }
  }
}

.search {
  height: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  
  @include Phone {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  
  @include Tablet {
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }

  &__input_block {
    height: 40px;
    border: 1px solid #ECECEC;
    padding: 5px 20px;

    .form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .input {
      border: none;
      @include button;

      &::placeholder {
        color: #888888;
      }
    }

    .button {
      background-color: transparent;
      border: none;
    }
  }

  &__showing_settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ECECEC;

    @include Phone {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    .number_of_results {
      @include button;
    }

    .sorting {
      display: flex;
      gap: 10px;

      @include Phone {
        flex-direction: column;
      }

      &__default {
        @include button;
        width: 220px;
        border: 1px solid #60A00C;
        text-align: center;
        background-color: white;
        transition: all 0.5s;
        color: #60A00C;
        text-decoration: none;
        line-height: 40px;

        &:hover {
          background-color: #60A00C;
          color: white;
        }
      }
    }
  }
}

.list_of_products {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;

  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  @include Tablet {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @include Notebook {
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
  }

  .phone_filter {
    display: none;
    margin-bottom: 15px;
    cursor: pointer;
    width: max-content;

    @include Phone {
      display: flex;
      gap: 5px;

      .filter_icon {
        width: 30px;
        height: 30px;
      }

      .filter_sign {
        @include sign;
        font-size: 20px;
        align-self: flex-end;
      }
    }
  }

  .left_side_bar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: all 1s;

    @include Phone {
      transform: translateX(-100%);
      display: flex;
      position: fixed;
      gap: 70px;
      top: 0;
      left: 0;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      background-color: white;
      padding: 20px;
      z-index: 3000;
    }
  
    @include Tablet {
      flex-direction: row;
      margin-bottom: 20px;
    }

    &__close {
      display: none;
      width: 30px;
      height: 30px;
      cursor: pointer;

      @include Phone {
        display: block;
      }
    }

    &__categories {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include text;

      .categories__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .category_link {
          text-decoration: none;
          @include text;
          cursor: pointer;
        }
      }

    }

    &__price {
      display: flex;
      gap: 25px;
      flex-direction: column;

      @include Phone {
        gap: 15px;
      }
    
      @include Tablet {
        gap: 15px;
      }

      .range-slider {
        width: 100%;
        margin: auto;
        text-align: center;
        position: relative;
        height: 40px;

        @include Phone {
          margin: 0;
        }
      
        @include Tablet {
          margin: 0;
        }

        &__sign {
          width: 100%;
          display: flex;
          gap: 6px;
          @include button;
        }
      }
      .range-slider svg,
      .range-slider input[type="range"] {
          position: absolute;
          left: 0;
          bottom: 0;
      }
      input[type="text"] {
          border: none;
          width: 30px;
      }
      input[type="text"]:invalid,
      input[type="text"]:out-of-range {
          border: 1px solid #ff6347;
      }
      input[type="range"] {
          -webkit-appearance: none;
          width: 100%;

          @include Phone {
            width: 200px;
          }
      }
      input[type="range"]:focus {
          outline: none;
      }
      input[type="range"]:focus::-webkit-slider-runnable-track {
          background: #111111;
      }
      input[type="range"]:focus::-ms-fill-lower {
          background: #111111;
      }
      input[type="range"]:focus::-ms-fill-upper {
          background: #111111;
      }
      input[type="range"]::-webkit-slider-runnable-track {
          max-width: 225px;
          width: 100%;
          height: 2px;
          cursor: pointer;
          background: #111111;
          border-radius: 1px;
          box-shadow: none;
          border: 0;

          @include Phone {
            width: 200px;
          }
      }
      input[type="range"]::-webkit-slider-thumb {
          z-index: 2;
          position: relative;
          box-shadow: 0px 0px 0px #000;
          border: 1px solid #111111;
          height: 6px;
          width: 6px;
          border-radius: 25px;
          background: #111111;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -2px;
      }
      input[type="range"]::-moz-range-track {
          max-width: 225px;
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: #111111;
          border-radius: 1px;
          box-shadow: none;
          border: 0;
      }
      input[type="range"]::-moz-range-thumb {
          z-index: 2;
          position: relative;
          box-shadow: 0px 0px 0px #000;
          border: 1px solid #111111;
          height: 5px;
          width: 5px;
          border-radius: 25px;
          background: #686868;
          cursor: pointer;
      }
      input[type="range"]::-ms-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
      }
      input[type="range"]::-ms-fill-lower,
      input[type="range"]::-ms-fill-upper {
          background: #111111;
          border-radius: 1px;
          box-shadow: none;
          border: 0;
      }
      input[type="range"]::-ms-thumb {
          z-index: 2;
          position: relative;
          box-shadow: 0px 0px 0px #000;
          border: 1px solid #111111;
          height: 18px;
          width: 18px;
          border-radius: 25px;
          background: #111111;
          cursor: pointer;
      }
    }

    &__color {
      display: flex;
      gap: 25px;
      flex-direction: column;

      .color__circles {
        display: flex;
        gap: 10px;

        @include Phone {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 10px;
        }
      
        @include Tablet {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 5px;
        }

        .circle {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          cursor: pointer;
        }

        .green{
          background-color: #E2EDD4;
        }

        .orange {
          background-color: #F7E8D3;
        }

        .red {
          background-color: #c07d78;
        }

        .blue {
          background-color: #DAF1F4;
        }

        .yellow {
          background-color: #f1ecb6;
        }
      }
    }

    &__size {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .sizes { 
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        @include Phone {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 5px;
        }
      
        @include Tablet {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 5px;
        }

        .size {
          width: 55px;
          height: 30px;
          @include button;
          text-align: center;
          line-height: 30px;
          text-decoration: none;
          border: 1px solid #ECECEC;
          cursor: pointer;
        }
      }
    }

    &__title {
      @include button;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__result {
    @include sign;
    text-align: center;
    padding-top: 50px;
  }

  .product_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    border: 1px solid #ECECEC;
    max-width: 920px;

    @include Phone {
      flex-direction: column;
      // flex-wrap: wrap;
      align-items: flex-start;
      gap: 10px;
    }

    &__block {
      display: flex;

      @include Phone {
        flex-direction: column;
        gap: 15px;
      }

      @include Tablet {
        flex-direction: column;
        gap: 15px;
      }
    }

    &__image {
      object-fit: cover;
      width: 210px;
      height: 210px;
      border-radius: 20%;
      cursor: pointer;

      @include Phone {
        width: 100px;
        height: 100px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #ECECEC;
      padding-left: 15px;
      padding-right: 10px;
      min-width: 110px;
      cursor: pointer;

      @include Phone {
        border: none;
        padding: 0;
      }

      @include Tablet {
        border: none;
      }

      &__name {
        color: black;
        font-size: 25px;
        font-family: 'Jost', sans-serif;
        margin-bottom: 5px;
        cursor: pointer;

        @include Phone {
          font-size: 20px;
        }
      }

      &__price {
        @include sign;
        margin-bottom: 20px;
      }

      &__color {
        @include sign;
        margin-bottom: 5px;
      }

      &__size {
        @include sign;
        margin-bottom: 5px;
      }

      &__category {
        @include sign;
        margin-bottom: 5px;
      }

      &__description {
        @include button;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      justify-content: space-between;
      gap: 10px;
      cursor: pointer;

      @include Phone {
        flex-direction: row;
        padding: 0;
      }

      @include Tablet {
        flex-direction: row;
      }

      .icon {
        width: 35px;
        height: 35px;

        .icon__circle {
          fill: white;

          &--checked {
            fill: #60A00C;
          }
        }
      }
    }
  }

  &__pages {
    display: flex;
    gap: 15px;

    .page {
      width: 45px;
      height: 45px;
      border: 1px solid #ECECEC;
      text-align: center;
      line-height: 45px;
      cursor: pointer;
      @include button;
    }
  }
}