.productDetail_page {

  .error__message_fav, .error__message_review {
    width: 300px;
    position: fixed;
    top: 168px;
    right: -350px;
    padding: 30px;
    background-color: #88B13E;
    border: none;
    border-radius: 10px;
    @include button;
    background-color: rgba(247, 0, 0, 50%);
    transition: all 1s;
    
    &--active {
      right: 12px;
    }
  }

  .success__message_review {
    width: 300px;
    position: fixed;
    top: 168px;
    right: -350px;
    padding: 30px;
    background-color: #88B13E;
    border: none;
    border-radius: 10px;
    @include button;
    background-color: rgba(136, 177, 62, 50%);
    transition: all 1s;
    
    &--active {
      right: 12px;
    }
  }

  .section__product_card {
    padding: 100px 80px 20px;

    @include Phone {
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    @include Tablet {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .product_card__images { 
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 100%;

      .main_image {
        width: 100%;
        height: 60%;
        max-height: 430px;
        background-color: wheat;
        object-fit: cover;
      }

      .list_of_images {
        display: flex;
        gap: 4%;
        width: 100%;

        .list_image {
          width: 22%;
          height: auto;
          background-color: wheat;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;

      &__name {
        @include title_jost;
        font-weight: bold;
      }

      &__stars {
        display: flex;
        margin-top: 10px;
      }

      &__price {
        @include title_jost;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 24px;
        font-weight: bold;
      }

      &__text {
        padding-top: 35px;
        @include text;
        color: black;
        border-top: 1px solid #ECECEC;
        width: 100%;
      }

      &__category {
        @include text;
        color: black;
        margin-top: 20px;
      }

      &__buttons_menu {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ECECEC;

        @include Phone {
          flex-direction: column;
        }

        .quantity {
          display: flex;
          align-items: center;
          gap: 30px;

          &__title {
            @include button;
          }

          &__block {
            width: 130px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #ECECEC;

            &__value {
              @include button;
              font-size: 18px;
              font-weight: bold;
            }

            .arrow {
              width: 11px;
              height: 11px;
              cursor: pointer;
            }
          }
        }

        .cart {
          width: 190px;
          background-color: black;
          border: none;
          padding: 12px 30px;
          @include button;
          color: white;
          cursor: pointer;
          transition: all 0.5s;
          user-select: none; 

          &:hover {
            background-color: white;
            color: black;
          }
        }

        .icon {
          cursor: pointer;

          &_rect {
            transition: all 0.5s;
          }

          &:hover {
            .icon_rect {
              fill: #60A00C;
            }
          }
        }
      }

      &__reviews_menu {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #ECECEC;

        .reviews_menu__nav {
          display: flex;
          gap: 20px;
          
          .reviews_menu__nav__item {
            @include button;
            color: #888888;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;

            &--isActive {
              @include button;
              color: black;
              font-size: 18px;
              font-weight: bold;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }

        .reviews_menu__text {

          .review__user {
            @include text;
            margin-bottom: 10px;

            &:nth-child(n+2) {
              margin-top: 20px;
            }
          }

          .text {
            display: none;

            &--isActive {
              @include button;
            }
          }
        }
      }

      &__review_form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        .review_form__input {
          height: 60px;
          width: 100%;
          max-width: 470px;
          background-color: #F5F5F5;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 20px;
          @include text;
          border: none;
  
          &:focus {
            border-bottom: 1px solid black;
          }
    
          &:invalid:not(:focus):not(:placeholder-shown) {
            color: #eb5757;
            border-bottom: 1px solid #eb5757 ;
          }
    
          &:invalid:focus:not(:placeholder-shown) {
            color: #eb5757;
            border-bottom: 1px solid #eb5757 ;
          }
    
          &:valid:not(:placeholder-shown) {
            color: #60A00C;
            border-bottom: 1px solid #60A00C;
          }
        }

        .review_form__submit {
          width: 100%;
          max-width: 470px;
          align-self: center;
          border: none;
          padding: 0 5px;
          background-color: black;
          height: 46px;
          @include button;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          line-height: 100%;
          transition: all 0.5s;
          color: white;
          user-select: none; 
    
          &:hover {
            background-color: white;
            color: black
          }
        }
      }
    }
  }
}