<footer class=" checkout_page__footer footer_grid grid__item--1--12 grid">
    <div class="footer__communication communication grid__item--1--12 grid">
      <div class="communication__phone_block phone_block grid__item--1--6">
        <div class="pnone_block__icon_block icon_block">
          {{> icon_phone}}          
        </div>
        <div class="text_block">
          <span class="sing_1">Call us 24/7</span>
          <span class="sing_2">You have questions, contact us immediately for answers.</span>
          <a class="number" href="call:to+3 398 356 4793">+3 398 356 4793</a>
        </div>
      </div>
      <div class="communication__mail_block mail_block grid__item--7--12">
        <div class="mail_block__icon_block icon_block">
          {{> icon_mail}}          
        </div>
        <div class="text_block">
          <span class="sing_1">Subscribe Newsletter</span>
          <span class="sing_2">Sign up for weekly newsletter and better ecommercestores</span>
          <form class="form subscribe__form">
            <input type="email" name="email" class="form__input input" placeholder="Enter your email" required>
            <button type="submit" class="form__button button">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__menu_block menu_block grid__item--1--12 grid">
      <div class="menu_block__time_work time_work grid__item--1--3">
        <span class="logo">OrgaFresh</span>
        <span class="time">Monday – Saturday: 8:00 am – 4:00pm</span>
        <span class="time">Sunday: 9:00 am – 5:00pm</span>
      </div>
      <div class="menu_block__navigation navigation grid__item--4-12">
        <div class="footer__menu menu">
          <div class="menu__block block">
            <span class="block__title">Quick links</span>
            <nav class="block__items">
              <a href="/#about" class="item">About us</a>
              <a href="/#blog" class="item">Blog</a>
              <a href="/cart" class="item">Check out</a>
              <a href="/#contact" class="item">Contact</a>
              <a href="/" class="item">Services</a>
            </nav>
          </div>
          <div class="menu__block block">
            <span class="block__title">Categories</span>
            <nav class="block__items">
              <a href="products/?category_id=2" class="item">Vegatables</a>
              <a href="products/?category_id=1" class="item">Fresh fruit</a>
              <a href="products/?category_id=3" class="item">Fresh meats</a>
              <a href="products/?category_id=4" class="item">Nuts</a>
              <a href="products/?category_id=5" class="item">Smothie</a>
            </nav>
          </div>   
          <div class="menu__block block">
            <span class="block__title">Help Center</span>
            <nav class="block__items">
              <a href="/" class="item">Help</a>
              <a href="/" class="item">Returns Policy</a>
              <a href="/" class="item">Terms & Conditions</a>
              <a href="/" class="item">Privacy Policy </a>
              <a href="/" class="item">Support Center</a>
            </nav>
          </div>   
          <div class="menu__block block">
            <span class="block__title">Contact info</span>
            <nav class="block__items">
              <a href="https://www.google.com/maps/place/29+Rue+du+Bourg+Tibourg,+75004+Paris,+%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%8F/@48.857589,2.3540486,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e02ceb82dc9:0xfbde31453643932d!8m2!3d48.8575855!4d2.3562373" class="item">29 Rue du Bourg Tibourg, 75004 Paris, France</a>
              <a href="mailto:Organicfood@gmail.com" class="item">Organicfood@gmail.com</a>
            </nav>
          </div>     
        </div>
      </div>
    </div>
  </footer>