.products_page {
  .error__message_fav {
    width: 300px;
    position: fixed;
    top: 168px;
    right: -350px;
    padding: 30px;
    background-color: #88B13E;
    border: none;
    border-radius: 10px;
    @include button;
    background-color: rgba(247, 0, 0, 50%);
    transition: all 1s;
    
    &--active {
      right: 12px;
    }
  }
}

.title_section {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #D0E2E2;
  
  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @include Tablet {
    padding-left: 50px;
    padding-right: 50px;
  }

  .title {
    @include title;
  }
  .navigation {
    display: flex;
    gap: 10px;
    
    .link {
      @include button;
      text-decoration: none;

      &:nth-of-type(1):after {
        content: '    >>'
      }
    } 

    .link--active {
      @include button;
      color: #88B13E;
    }
  }
}

.search {
  height: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  
  @include Phone {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  
  @include Tablet {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
  }

  &__input_block {
    height: 40px;
    border: 1px solid #ECECEC;
    padding: 5px 20px;

    .form {
      display: flex;
      justify-content: stretch;
      align-items: center;
    }

    .input {
      border: none;
      width: 90%;
      @include button;

      &::placeholder {
        color: #888888;
      }
    }

    .button {
      background-color: transparent;
      border: none;
      padding: 5px;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__showing_settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ECECEC;

    @include Phone {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    .number_of_results {
      @include button;
    }

    .sorting {
      display: flex;
      gap: 10px;

      &__showing_icon--active {
        fill: #60A00C;
      }

      &__showing_icon--disabled {
        fill: white;
      }

      @include Phone {
        flex-direction: column;
      }

      &__default {
        @include button;
        width: 220px;
        border: 1px solid #60A00C;
        text-align: center;
        background-color: white;
        transition: all 0.5s;
        color: #60A00C;
        text-decoration: none;
        line-height: 40px;

        &:hover {
          background-color: #60A00C;
          color: white;
        }
      }
    }
  }
}

.list_of_products {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;

  @include Phone {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  @include Tablet {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @include Notebook {
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
  }

  .phone_filter {
    display: none;
    margin-bottom: 15px;
    cursor: pointer;
    width: max-content;

    @include Phone {
      display: flex;
      gap: 5px;

      .filter_icon {
        width: 30px;
        height: 30px;
      }

      .filter_sign {
        @include sign;
        font-size: 20px;
        align-self: flex-end;
      }
    }
  }

  .left_side_bar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: all 1s;

    @include Phone {
      transform: translateX(-100%);
      display: flex;
      position: fixed;
      gap: 70px;
      top: 0;
      left: 0;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      background-color: white;
      padding: 20px;
      z-index: 3000;
    }
  
    @include Tablet {
      flex-direction: row;
      margin-bottom: 20px;
    }

    &__close {
      display: none;
      width: 30px;
      height: 30px;
      cursor: pointer;

      @include Phone {
        display: block;
      }
    }

    &__categories {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include text;

      .categories__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .category_link {
          text-decoration: none;
          @include text;
          cursor: pointer;

          &--active {
            color: black;
          }
        }
      }

    }

    &__price {
      display: flex;
      gap: 25px;
      flex-direction: column;

      .wrapper {
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        width: 160px;
      }
      .container {
        position: relative;
        width: 100%;
        height: 60px;
        margin-top: 10px;
      }
      input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;
      }
      .slider-track {
        width: 100%;
        height: 5px;
        background-color: #60A00C;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
      }
      input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 5px;
      }
      input[type="range"]::-moz-range-track {
        -moz-appearance: none;
        height: 5px;
      }
      input[type="range"]::-ms-track {
        appearance: none;
        height: 5px;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1.2em;
        width: 1.2em;
        background-color: #60A00C;
        cursor: pointer;
        margin-top: -9px;
        pointer-events: auto;
        border-radius: 50%;
      }
      input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 1.2em;
        width: 1.2em;
        cursor: pointer;
        border-radius: 50%;
        background-color: #60A00C;
        pointer-events: auto;
        border: none;
      }
      input[type="range"]::-ms-thumb {
        appearance: none;
        height: 1.2em;
        width: 1.2em;
        cursor: pointer;
        border-radius: 50%;
        background-color: #60A00C;
        pointer-events: auto;
      }
      input[type="range"]:active::-webkit-slider-thumb {
        background-color: #ffffff;
        background-color: #60A00C;
      }
      .values {
        background-color: rgba(38%, 63%, 5%, 70%);
        width: 100%;
        @include sign;
        position: relative;
        margin: auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        color: #ffffff;

        .input {
          width: 28px;
          text-align: center;
          border: none;
          @include sign;
          color: white;
          background-color: transparent;
        }
      }
      .values:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        background-color: rgba(38%, 63%, 5%, 70%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
      }

      @include Phone {
        gap: 15px;
      }
    
      @include Tablet {
        gap: 15px;
      }
    }    

    &__color {
      display: flex;
      gap: 25px;
      flex-direction: column;

      .color__circles {
        display: flex;
        gap: 10px;

        @include Phone {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 10px;
        }
      
        @include Tablet {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 5px;
        }

        .circle {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          cursor: pointer;

          &--active {
            border: 1px solid black;
          }
        }

        .green{
          background-color: #E2EDD4;
        }

        .orange {
          background-color: #F7E8D3;
        }

        .red {
          background-color: #c07d78;
        }

        .blue {
          background-color: #DAF1F4;
        }

        .yellow {
          background-color: #f1ecb6;
        }
      }
    }

    &__size {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .sizes { 
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        @include Phone {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 5px;
        }
      
        @include Tablet {
          flex-direction: row;
          flex-flow: row wrap;
          gap: 5px;
        }

        .size {
          width: 55px;
          height: 30px;
          @include button;
          text-align: center;
          line-height: 30px;
          text-decoration: none;
          border: 1px solid #ECECEC;
          cursor: pointer;

          &--active {
            border: 1px solid black;
          }
        }
      }
    }

    &__title {
      @include button;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &--two-in-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
  }

  &__result {
    @include sign;
    text-align: center;
    padding-top: 50px;
  }

  .product_card {
    display: flex;
    align-items: justify;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    border: 1px solid #ECECEC;
    max-width: 920px;

    &--two-card {
      width: 48%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      padding: 15px;
      margin-bottom: 15px;
    }

    @include Phone {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    @include Tablet {
      align-items: flex-start;
      gap: 10px;
    }

    &__block {
      display: flex;
      justify-content: space-between;

      @include Phone {
        flex-direction: column;
        gap: 15px;
        flex-grow: 1;
      }

      @include Tablet {
        // flex-direction: column;
        gap: 15px;
        flex-grow: 1;
      }
    }

    &__image {
      object-fit: cover;
      width: 210px;
      height: 210px;
      border-radius: 20%;
      cursor: pointer;

      @include Phone {
        width: 100px;
        height: 100px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #ECECEC;
      padding-left: 15px;
      padding-right: 10px;
      min-width: 90px;
      height: auto;
      cursor: pointer;

      @include Phone {
        border: none;
        padding: 0;
      }

      @include Tablet {
        border: none;
      }

      &__name {
        color: black;
        font-size: 25px;
        font-family: 'Jost', sans-serif;
        margin-bottom: 5px;
        cursor: pointer;

        @include Phone {
          font-size: 20px;
        }
      }

      &__best_seller {
        @include sign;
        font-size: 20px;
        margin-bottom: 20px;
      }

      &__last_price {
        @include sign;
        font-size: 13px;
        color: rgb(136, 11, 11);
        margin-bottom: 5px;
        text-decoration: line-through;
      }

      &__price {
        @include sign;
        margin-bottom: 20px;
      }

      &__color {
        @include sign;
        margin-bottom: 5px;
      }

      &__size {
        @include sign;
        margin-bottom: 5px;
      }

      &__category {
        @include sign;
        margin-bottom: 5px;
      }

      &__description {
        @include button;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      justify-content: space-between;
      gap: 10px;
      cursor: pointer;

      @include Phone {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        gap: 5px;
      }

      .icon {
        width: 35px;
        height: 35px;

        .icon__circle {
          fill: white;
          transition: all 0.5s;

          &:hover {
            fill: #60A00C;

            @include Phone {
              fill: white;
            }
          }

          &--active {
            fill: #60A00C;

            &:hover {
              fill: white;

              @include Phone {
                fill: #60A00C;
              }
            }
          }
        }
      }
    }
  }

  &__pages {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    .pageDecrease {
      display: none;

      &--active {
        display: block;
      }
    }

    .page {
      width: 45px;
      height: 45px;
      border: 1px solid #ECECEC;
      text-align: center;
      line-height: 45px;
      cursor: pointer;
      @include button;

      &--active {
        display: block;
        border: 1px solid black;
      }
    }
  }
}