.about {
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;

  @include Tablet {
    padding-left: 50px;
    padding-right: 50px;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
  }

  .title_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 290px;

    &__clients_sign {
      @include sign;
    }

    &__title {
      @include title;
    }

    &__text {
      @include text;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 167px;
      height: 46px;
      border: 2px solid black;
      line-height: 100%;
      margin-top: 40px;
      transition: background-color, 0.5s;
      cursor: pointer;
  
      .button {
        width: max-content;
        text-decoration: none;
        @include button;
        transition: color, 0.5s;
      }
    }

    &__button:hover {
      background-color: black;
      
      .button {
        color: white;
      }
    }
  }

  .quotes_block {
    display: flex;
    gap: 30px;
    transition: height 0.5s;

    @include Phone {
      flex-direction: column;
      gap: 10px;
      height: 300px;
    }

    @include Tablet {
      flex-direction: column;
      gap: 10px;
      height: 300px;
    }

    .quote--visible {
      @include Phone {
        position: relative;
      }

      @include Tablet {
        position: relative;
      }
    }


    .quote--visible::after {
      @include Phone {
        content: "↓";
        height: 15px;
        width: 15px;
        position: absolute;
        left: 50%;
        bottom: 0;
        animation-duration: .5s;
        animation-name: moving;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        color: #888888;
      }

      @include Tablet {
        content: "↓";
        height: 15px;
        width: 15px;
        position: absolute;
        left: 50%;
        bottom: 0;
        animation-duration: .5s;
        animation-name: moving;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        color: #888888;
      }
    }

    @keyframes moving {
      from {
        transform: translateY(0);
      }
      
      to {
        transform: translateY(-20px);
      }
    }

    .quote:hover{

      @include Notebook {
        transform: scale(1.1);
      }

      @include Desktop {
        transform: scale(1.1);
      }

      @include Full {
        transform: scale(1.1);
      }
    }

    .quote--visible:hover ~ .quote {
      visibility: visible;
      opacity: 1;
    }
    
    .quote--visible:hover::after {
      animation-duration: 5s;
    }

    .quote:nth-of-type(n+2) {
      @include Phone {
        visibility: hidden;
        opacity: 0;
      }

      @include Tablet {
        visibility: hidden;
        opacity: 0;
      }
    }

    .quote:nth-of-type(n+3) {
      @include Notebook {
        display: none;
      }

      @include Desktop {
        display: none;
      }
    }


    .quote {
      width: 300px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      padding: 40px;
      background-color: #FFF7EB;
      border-radius: 20px;
      transition:visibility 0.4s linear,opacity 0.4s linear, transform 0.5s;
      cursor: pointer;


      @include Notebook {
        width: 280px;
      }

      .quote__header {
        display: flex;
        align-items: center;
        gap: 20px;

        .header__image {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: grey;
        }

        .information {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &__name {
            @include small_title;
          }

          &__country {
            @include text;
          }
        }
      }

      &__text {
        @include text;
        font-size: 18px; 
      }
    }
  }
}


.quotes_block:hover {
  @include Phone {
    height: 800px;
  }

  @include Tablet {
    height: 800px;
  }
}
