<div class="copyright grid__item--1--12">
    <span class="copyright__sign">Copyright © 2020 Avitexthemes Inc. All rights reserved</span>
    <div class="copyright__icons">
      {{> footer_links}}     
    </div>
  </div>