<div class="header__top_bar top_bar grid__item--1--12">
      <a class="top_bar__logo">Orga Fresh</a>
      <div class="links">
        <div class="top_bar__contacts">
          <div class="top_bar__contacts__tel tel">
            <img src="/images/tel.png" alt="phone-icon" class="tel__icon">
            <a href="tel: (+800) 345 678" class="tel__link">
              (+800) 345 678
            </a>
          </div>
          <div class="top_bar__contacts__mail mail">
            <img src="/images/mail.png" alt="mail-icon" class="mail__icon">
            <a href="mailtto: Organicfood@gmail.com" class="mail__link">
              Organicfood@gmail.com
            </a>
          </div>
        </div>
        <div class="top_bar__lang">
          <div class="lang">
            {{> icon_lang}}
            <span>English</span>
          </div>
          <div class="USD">
            {{> icon_usd}}
            <span>USD</span>
          </div>
        </div>
      </div>
</div>
<header class="products_page__header header grid__item--1--12 grid">
    <nav class="header__nav nav grid__item--1--12 grid">
      <menu class="nav__menu menu grid__item--1--5">
        <a href="/" class="menu__item">Home</a>
        {{#if authorization}}
        <a href="/cabinet" class="menu__item">Cabinet</a>
        {{else}}
        <a href="/authorization" class="menu__item">Log in</a>
        {{/if}}
        <a href="/products/" class="menu__item">Products</a>
        <a href="#contact" class="menu__item">Contact</a>
      </menu>
      <a href="#" class="nav__logo logo grid__item--6--7">
        Orga
        <span class="logo--color--black">Fresh</span>
      </a>
      <div class="nav__right_side_bar right_side_bar grid__item--11--12">
        {{#if authorization}}
        <a href="/authorization/logout" class="right_side_bar__icon log_out__button">
          {{> icon_logout}}
        </a>
        {{else}}
        <a href="/authorization" class="right_side_bar__icon log_out__button">
         {{> icon_login}}
        </a>
        {{/if}}
        <a href="/cabinet" class="right_side_bar__icon">
          <div class="icon__block fav__block">
            {{> fav_block}}
            <span class="icon__count fav__count">{{favouritesCount}}</span>
            {{> fav_circle}}
          </div>
        </a>
        <a class="right_side_bar__icon basket">
          <div class="icon__block basket__block">
            {{> basket_block}}
            <span class="icon__count basket__count">0</span>
            {{> basket_circle}}
          </div>
        </a>
      </div>
    </nav>
</header>
