<div class="header__top_bar top_bar grid__item--1--12">
      <a class="top_bar__logo">Orga Fresh</a>
      <div class="links">
        <div class="top_bar__contacts">
          <div class="top_bar__contacts__tel tel">
            <img src="/images/tel.png" alt="phone-icon" class="tel__icon">
            <a href="tel: (+800) 345 678" class="tel__link">
              (+800) 345 678
            </a>
          </div>
          <div class="top_bar__contacts__mail mail">
            <img src="/images/mail.png" alt="mail-icon" class="mail__icon">
            <a href="mailtto: Organicfood@gmail.com" class="mail__link">
              Organicfood@gmail.com
            </a>
          </div>
        </div>
        <div class="top_bar__lang">
          <div class="lang">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.0413 3.89907H3.90537C3.05883 3.89907 2.36675 3.21009 2.36675 2.36045C2.36675 1.5139 3.05574 0.821833 3.90537 0.821833H13.0444C13.273 0.821833 13.4553 0.636457 13.4553 0.410917C13.4553 0.182286 13.2699 0 13.0444 0H3.90537C2.60465 0 1.54492 1.05973 1.54492 2.36045V12.6395C1.54492 13.9403 2.60465 15 3.90537 15H13.0444C13.273 15 13.4553 14.8146 13.4553 14.5891V4.30999C13.4522 4.08445 13.2699 3.89907 13.0413 3.89907ZM12.6304 14.1782H3.90537C3.05883 14.1782 2.36675 13.4892 2.36675 12.6395V4.15242C2.78076 4.50772 3.31835 4.724 3.90537 4.724H12.6304V14.1782Z" fill="white"/>
              <path d="M4.03518 1.98682C3.80655 1.98682 3.62427 2.17219 3.62427 2.39773C3.62427 2.62327 3.80964 2.80865 4.03518 2.80865H11.753C11.9816 2.80865 12.1639 2.62327 12.1639 2.39773C12.1639 2.17219 11.9785 1.98682 11.753 1.98682H4.03518Z" fill="white"/>
              <path d="M5.48117 12.3802C5.52751 12.3956 5.57386 12.4049 5.6202 12.4049C5.79013 12.4049 5.9477 12.2998 6.0064 12.133L6.50692 10.7334H8.43483C8.45027 10.7334 8.46881 10.7334 8.48426 10.7303L8.98477 12.133C9.04348 12.2998 9.20413 12.4049 9.37097 12.4049C9.41732 12.4049 9.46366 12.3956 9.51001 12.3802C9.72319 12.3029 9.83441 12.0681 9.75717 11.8549L7.88488 6.6057C7.88179 6.59334 7.87561 6.58098 7.86943 6.56863C7.86634 6.56245 7.86325 6.55627 7.86016 6.55009C7.85707 6.54391 7.85398 6.53773 7.85089 6.53155C7.8478 6.52537 7.84162 6.51919 7.83853 6.50992C7.83544 6.50683 7.83235 6.50065 7.82926 6.49756C7.82617 6.49139 7.82 6.48521 7.81382 6.47903C7.81073 6.47594 7.80764 6.46976 7.80146 6.46667C7.79837 6.46049 7.79219 6.4574 7.78601 6.45122C7.77983 6.44504 7.77674 6.44195 7.77056 6.43577C7.76747 6.43268 7.76129 6.42959 7.7582 6.42341C7.75202 6.41723 7.74584 6.41415 7.73967 6.40797C7.73658 6.40488 7.7304 6.40179 7.72731 6.3987C7.72113 6.39561 7.71495 6.38943 7.70877 6.38634C7.70259 6.38325 7.69641 6.38016 7.69023 6.37707C7.68405 6.37398 7.67787 6.37089 7.67169 6.3678C7.65934 6.36162 7.64698 6.35544 7.63462 6.35235H7.63153C7.61917 6.34926 7.60681 6.34617 7.59445 6.34308C7.58828 6.34308 7.58519 6.33999 7.57901 6.33999C7.56974 6.33691 7.56356 6.33691 7.55429 6.33382C7.54811 6.33382 7.54193 6.33382 7.53575 6.33073C7.52957 6.33073 7.5203 6.32764 7.51412 6.32764C7.50795 6.32764 7.50177 6.32764 7.49559 6.32764C7.48941 6.32764 7.48323 6.32764 7.47396 6.32764C7.46778 6.32764 7.45851 6.32764 7.45233 6.33073C7.44615 6.33073 7.43997 6.33073 7.4338 6.33382C7.42453 6.33382 7.41835 6.33691 7.40908 6.33999C7.4029 6.33999 7.39981 6.34308 7.39363 6.34308C7.38127 6.34617 7.36891 6.34926 7.35964 6.35235H7.35656C7.3442 6.35544 7.33184 6.36162 7.31948 6.3678C7.3133 6.37089 7.30712 6.37398 7.30094 6.37707C7.29476 6.38016 7.28858 6.38325 7.28241 6.38634C7.27623 6.38943 7.27005 6.39561 7.26078 6.3987C7.25769 6.40179 7.25151 6.40488 7.24842 6.40797C7.24224 6.41415 7.23606 6.41723 7.22988 6.42341C7.22679 6.4265 7.22061 6.42959 7.21752 6.43577C7.21134 6.44195 7.20825 6.44504 7.20208 6.45122C7.1959 6.4574 7.19281 6.46049 7.18663 6.46667C7.18354 6.46976 7.18045 6.47594 7.17427 6.47903C7.16809 6.48521 7.165 6.49139 7.15882 6.49756C7.15573 6.50065 7.15264 6.50683 7.14955 6.50992C7.14646 6.5161 7.14028 6.52228 7.13719 6.52846C7.1341 6.53464 7.13101 6.54082 7.12793 6.547C7.12484 6.55318 7.12175 6.55936 7.11866 6.56554C7.11248 6.57789 7.1063 6.59025 7.10321 6.60261L5.22473 11.8518C5.15676 12.0681 5.26799 12.3029 5.48117 12.3802ZM7.49868 7.96512L8.19384 9.91157H6.80043L7.49868 7.96512Z" fill="white"/>
            </svg>
            <span>English</span>
          </div>
          <div class="USD">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_3_5233)">
              <path d="M16.8033 2.19668C15.3868 0.780117 13.5033 0 11.5 0C9.49668 0 7.61324 0.780117 6.19668 2.19668C4.78015 3.61324 4 5.49668 4 7.5C4 9.50332 4.78015 11.3868 6.19668 12.8033C7.61324 14.2199 9.49668 15 11.5 15C13.5033 15 15.3868 14.2199 16.8033 12.8033C18.2199 11.3868 19 9.50332 19 7.5C19 5.49668 18.2199 3.61324 16.8033 2.19668ZM11.5 14.1211C7.84911 14.1211 4.87891 11.1509 4.87891 7.5C4.87891 3.84911 7.84911 0.878906 11.5 0.878906C15.1509 0.878906 18.1211 3.84911 18.1211 7.5C18.1211 11.1509 15.1509 14.1211 11.5 14.1211Z" fill="white"/>
              <path d="M11.9707 7.06052H11.0293C10.4929 7.06052 10.0566 6.6242 10.0566 6.08789C10.0566 5.55155 10.493 5.11523 11.0293 5.11523H12.9121C13.1548 5.11523 13.3516 4.91848 13.3516 4.67578C13.3516 4.43309 13.1548 4.23633 12.9121 4.23633H11.9394V3.26367C11.9394 3.02098 11.7427 2.82422 11.5 2.82422C11.2573 2.82422 11.0605 3.02098 11.0605 3.26367V4.23633H11.0293C10.0083 4.23633 9.17773 5.06695 9.17773 6.08789C9.17773 7.10883 10.0084 7.93942 11.0293 7.93942H11.9707C12.507 7.93942 12.9434 8.37577 12.9434 8.91208C12.9434 9.44839 12.507 9.88474 11.9707 9.88474H10.0879C9.84521 9.88474 9.64845 10.0815 9.64845 10.3242C9.64845 10.5669 9.84521 10.7636 10.0879 10.7636H11.0605V11.7363C11.0605 11.979 11.2573 12.1758 11.5 12.1758C11.7427 12.1758 11.9394 11.979 11.9394 11.7363V10.7636H11.9707C12.9916 10.7636 13.8222 9.93302 13.8222 8.91208C13.8222 7.89114 12.9916 7.06052 11.9707 7.06052Z" fill="white"/>
              </g>
              <defs>
              <filter id="filter0_d_3_5233" x="0" y="0" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_5233"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_5233" result="shape"/>
              </filter>
              </defs>
            </svg>
            <span>USD</span>
          </div>
        </div>
      </div>
</div>
<header class="products_page__header header grid__item--1--12 grid">
    <nav class="header__nav nav grid__item--1--12 grid">
      <menu class="nav__menu menu grid__item--1--5">
        <a href="/" class="menu__item">Home</a>
        {{#if authorization}}
        <a href="/cabinet" class="menu__item">Cabinet</a>
        {{else}}
        <a href="/authorization" class="menu__item">Log in</a>
        {{/if}}
        <a href="/products/" class="menu__item">Products</a>
        <a href="#contact" class="menu__item">Contact</a>
      </menu>
      <a href="#" class="nav__logo logo grid__item--6--7">
        Orga
        <span class="logo--color--black">Fresh</span>
      </a>
      <div class="nav__right_side_bar right_side_bar grid__item--11--12">
        {{#if authorization}}
        <a href="/authorization/logout" class="right_side_bar__icon log_out__button">
          <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 490.3 490.3" style="enable-background:new 0 0 490.3 490.3;" xml:space="preserve">
            <g>
            <g>
              <path d="M0,121.05v248.2c0,34.2,27.9,62.1,62.1,62.1h200.6c34.2,0,62.1-27.9,62.1-62.1v-40.2c0-6.8-5.5-12.3-12.3-12.3
                s-12.3,5.5-12.3,12.3v40.2c0,20.7-16.9,37.6-37.6,37.6H62.1c-20.7,0-37.6-16.9-37.6-37.6v-248.2c0-20.7,16.9-37.6,37.6-37.6h200.6
                c20.7,0,37.6,16.9,37.6,37.6v40.2c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-40.2c0-34.2-27.9-62.1-62.1-62.1H62.1
                C27.9,58.95,0,86.75,0,121.05z"/>
              <path d="M385.4,337.65c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l83.9-83.9c4.8-4.8,4.8-12.5,0-17.3l-83.9-83.9
                c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l63,63H218.6c-6.8,0-12.3,5.5-12.3,12.3c0,6.8,5.5,12.3,12.3,12.3h229.8l-63,63
                C380.6,325.15,380.6,332.95,385.4,337.65z"/>
            </g>
          </g>
        </svg>
        </a>
        {{else}}
        <a href="/authorization" class="right_side_bar__icon log_out__button">
         <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 481.5 481.5" style="enable-background:new 0 0 481.5 481.5;" xml:space="preserve">
          <g>
            <g>
              <path d="M0,240.7c0,7.5,6,13.5,13.5,13.5h326.1l-69.9,69.9c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l93-93
                c5.3-5.3,5.3-13.8,0-19.1l-93-93c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1l69.9,69.9h-326C6,227.2,0,233.2,0,240.7z"/>
              <path d="M382.4,0H99C44.4,0,0,44.4,0,99v58.2c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5V99c0-39.7,32.3-72,72-72h283.5
                c39.7,0,72,32.3,72,72v283.5c0,39.7-32.3,72-72,72H99c-39.7,0-72-32.3-72-72V325c0-7.5-6-13.5-13.5-13.5S0,317.5,0,325v57.5
                c0,54.6,44.4,99,99,99h283.5c54.6,0,99-44.4,99-99V99C481.4,44.4,437,0,382.4,0z"/>
            </g>
          </g>
          </svg>
        </a>
        {{/if}}
        <a href="/cabinet" class="right_side_bar__icon">
          <div class="icon__block fav__block">
            <svg class="icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_3_6161)">
              <path d="M22.9807 3.55123C21.6716 2.24214 19.9385 1.52664 18.0888 1.52664C16.2391 1.52664 14.5008 2.24744 13.1917 3.55653L12.508 4.24022L11.8137 3.54593C10.5046 2.23684 8.76089 1.51074 6.91119 1.51074C5.0668 1.51074 3.32841 2.23154 2.02462 3.53533C0.715525 4.84442 -0.00527095 6.58281 2.90212e-05 8.4325C2.90212e-05 10.2822 0.726125 12.0153 2.03522 13.3244L11.9886 23.2777C12.1264 23.4155 12.3119 23.4897 12.4921 23.4897C12.6723 23.4897 12.8578 23.4208 12.9956 23.283L22.9701 13.3456C24.2792 12.0365 25 10.2981 25 8.4484C25.0053 6.59871 24.2898 4.86032 22.9807 3.55123ZM21.9631 12.3333L12.4921 21.7672L3.04221 12.3174C2.00342 11.2786 1.43102 9.90059 1.43102 8.4325C1.43102 6.96441 1.99812 5.58642 3.03691 4.55292C4.07041 3.51943 5.4484 2.94703 6.91119 2.94703C8.37929 2.94703 9.76258 3.51943 10.8014 4.55822L11.9992 5.75601C12.2801 6.03691 12.7306 6.03691 13.0115 5.75601L14.1987 4.56882C15.2375 3.53003 16.6207 2.95763 18.0835 2.95763C19.5463 2.95763 20.9243 3.53003 21.9631 4.56352C23.0019 5.60232 23.569 6.98031 23.569 8.4484C23.5743 9.91649 23.0019 11.2945 21.9631 12.3333Z" fill="#111111"/>
              </g>
              <defs>
              <clipPath id="clip0_3_6161">
              <rect width="25" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <span class="icon__count fav__count">{{favouritesCount}}</span>
            <svg class="icon__circle fav__circle" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#60A00C"/>
            </svg>
          </div>
        </a>
        <a class="right_side_bar__icon basket">
          <div class="icon__block basket__block">
            <svg  class="icon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_3_5219)">
              <path d="M7.09638 16.4606H20.1212C21.5981 16.4606 22.8029 15.1864 22.8029 13.6244V7.82873C22.8029 7.8236 22.8029 7.81332 22.8029 7.80818C22.8029 7.79277 22.8029 7.78249 22.8029 7.76708C22.8029 7.7568 22.8029 7.74653 22.798 7.73625C22.798 7.72597 22.7932 7.71056 22.7932 7.70028C22.7932 7.69001 22.7883 7.67973 22.7883 7.66946C22.7835 7.65918 22.7835 7.6489 22.7786 7.63349C22.7737 7.62321 22.7737 7.61294 22.7689 7.60266C22.764 7.59239 22.764 7.58211 22.7592 7.57183C22.7543 7.56156 22.7494 7.55128 22.7446 7.53587C22.7397 7.52559 22.7349 7.51532 22.73 7.51018C22.7252 7.4999 22.7203 7.48963 22.7154 7.47935C22.7106 7.46907 22.7057 7.46394 22.7009 7.45366C22.696 7.44338 22.6863 7.43311 22.6814 7.42283C22.6766 7.41255 22.6717 7.40742 22.662 7.39714C22.6571 7.38686 22.6474 7.38173 22.6426 7.37145C22.6377 7.36117 22.628 7.35604 22.6231 7.34576C22.6183 7.33548 22.6086 7.33035 22.6037 7.32521C22.594 7.31493 22.5891 7.30979 22.5794 7.29952C22.5697 7.29438 22.5648 7.2841 22.5551 7.27897C22.5454 7.27383 22.5357 7.26355 22.526 7.25841C22.5163 7.25328 22.5114 7.24814 22.5017 7.243C22.492 7.23786 22.4822 7.23272 22.4725 7.22245C22.4628 7.21731 22.4531 7.21217 22.4434 7.20703C22.4337 7.2019 22.424 7.19676 22.4142 7.19162C22.4045 7.18648 22.3948 7.18134 22.3851 7.17621C22.3754 7.17107 22.3657 7.17107 22.3559 7.16593C22.3462 7.16079 22.3316 7.15565 22.3219 7.15565C22.3122 7.15565 22.3025 7.15052 22.2976 7.15052C22.2831 7.14538 22.2733 7.14538 22.2588 7.14538C22.2539 7.14538 22.2491 7.14024 22.2393 7.14024L5.73123 4.73051V2.29509C5.73123 2.2694 5.73123 2.24371 5.72637 2.22316C5.72637 2.21802 5.72637 2.21288 5.72151 2.2026C5.72151 2.18719 5.71665 2.17178 5.71665 2.15636C5.71179 2.14095 5.71179 2.13067 5.70694 2.11526C5.70694 2.10498 5.70208 2.09984 5.70208 2.08957C5.69722 2.07415 5.69236 2.05874 5.6875 2.04333C5.6875 2.03819 5.68264 2.02791 5.68264 2.02277C5.67779 2.00736 5.67293 1.99708 5.66321 1.98167C5.65835 1.97653 5.65835 1.96626 5.6535 1.96112C5.64864 1.95084 5.64378 1.94057 5.63406 1.93029C5.6292 1.92001 5.62435 1.91488 5.61949 1.9046C5.61463 1.89432 5.60977 1.88919 5.60491 1.87891C5.60006 1.86863 5.59034 1.85836 5.58548 1.84808C5.58062 1.84294 5.57576 1.8378 5.57091 1.83267C5.56119 1.82239 5.55147 1.81211 5.54176 1.80184C5.5369 1.7967 5.53204 1.79156 5.52718 1.78642C5.51747 1.77615 5.50775 1.76587 5.49318 1.7556C5.48832 1.75046 5.4786 1.74532 5.47374 1.74018C5.46403 1.72991 5.45431 1.72477 5.44459 1.71449C5.43002 1.70422 5.41544 1.69394 5.40573 1.6888C5.40087 1.68366 5.39601 1.68366 5.39115 1.67853C5.37172 1.66825 5.34743 1.65797 5.328 1.6477L1.74751 0.0549126C1.4123 -0.09409 1.0285 0.0703266 0.887615 0.42485C0.746728 0.779373 0.90219 1.18528 1.2374 1.33428L4.41466 2.75237V5.89684V6.39523V10.2179V13.6347V17.9506C4.41466 19.3893 5.43488 20.5813 6.75144 20.7611C6.51339 21.1824 6.37251 21.6757 6.37251 22.1998C6.37251 23.7463 7.56276 25 9.02022 25C10.4777 25 11.6679 23.7412 11.6679 22.1998C11.6679 21.686 11.5368 21.1979 11.3036 20.7868H17.2014C16.9682 21.203 16.837 21.686 16.837 22.1998C16.837 23.7463 18.0273 25 19.4847 25C20.9422 25 22.1325 23.7412 22.1325 22.1998C22.1325 20.6584 20.9422 19.3996 19.4847 19.3996H7.09638C6.3385 19.3996 5.72637 18.747 5.72637 17.9506V16.0701C6.12474 16.3167 6.59598 16.4606 7.09638 16.4606ZM10.3611 22.1946C10.3611 22.9756 9.75866 23.6076 9.02507 23.6076C8.29149 23.6076 7.68907 22.9705 7.68907 22.1946C7.68907 21.4188 8.29149 20.7817 9.02507 20.7817C9.75866 20.7817 10.3611 21.4137 10.3611 22.1946ZM20.8256 22.1946C20.8256 22.9756 20.2232 23.6076 19.4896 23.6076C18.756 23.6076 18.1536 22.9705 18.1536 22.1946C18.1536 21.4188 18.756 20.7817 19.4896 20.7817C20.2232 20.7817 20.8256 21.4137 20.8256 22.1946ZM20.1212 15.0733H7.09638C6.3385 15.0733 5.72637 14.4208 5.72637 13.6244V10.2076V6.38495V6.12805L21.4912 8.42474V13.6193C21.4912 14.426 20.8742 15.0733 20.1212 15.0733Z" fill="black"/>
              </g>
              <defs>
              <clipPath id="clip0_3_5219">
              <rect width="23.6384" height="25" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <span class="icon__count basket__count">0</span>
            <svg class="icon__circle basket__circle" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#60A00C"/>
            </svg>
          </div>
        </a>
      </div>
    </nav>
</header>
