<section class="main__title_section title_section grid__item--1--12">
      <h2 class="title_section__title title">
        {{ title }}
      </h2>
      <div class="title_section__navigation navigation">
        <a href="/" class="navigation__link link">Home</a>
        <a href="/products" class="navigation__link link link--active">{{ title }}</a>
      </div>
</section>