.about {
  display: flex;
  gap: 75px;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 70px;
  padding-bottom: 70px;

  @include Tablet {
    padding-left: 100px;
    padding-right: 100px;
  }

  .title_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 290px;

    &__clients_sign {
      @include sign;
    }

    &__title {
      @include title;
    }

    &__text {
      @include text;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 167px;
      height: 46px;
      border: 2px solid black;
      line-height: 100%;
      margin-top: 40px;
  
      .button {
        width: max-content;
        text-decoration: none;
        @include button;
      }
    }
  }

  .quotes_block {
    display: flex;
    gap: 30px;

    .quote {
      width: 300px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      padding: 40px;
      background-color: #FFF7EB;
      border-radius: 20px;

      .header {
        display: flex;
        align-items: center;
        gap: 20px;

        &__image {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: grey;
        }

        .information {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &__name {
            @include small_title;
          }

          &__country {
            @include text;
          }
        }
      }

      &__text {
        @include text;
        font-size: 18px; 
      }
    }
  }
}