.about {
  display: flex;
  gap: 75px;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 70px;
  padding-bottom: 70px;

  @include Tablet {
    padding-left: 100px;
    padding-right: 100px;
    gap: 40px;
    justify-content: space-between;
  }

  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
  }

  .title_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 290px;

    &__clients_sign {
      @include sign;
    }

    &__title {
      @include title;
    }

    &__text {
      @include text;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 167px;
      height: 46px;
      border: 2px solid black;
      line-height: 100%;
      margin-top: 40px;
      transition: background-color, 0.5s;
  
      .button {
        width: max-content;
        text-decoration: none;
        @include button;
        transition: color, 0.5s;
      }
    }

    &__button:hover {
      background-color: black;
      
      .button {
        color: white;
      }
    }
  }

  .quotes_block {
    display: flex;
    gap: 30px;

    @include Phone {
      flex-direction: column;
      gap: 10px;
    }

    .quote:hover{
      transform: scale(1.1);
    }

    .quote:nth-of-type(n+2) {
      @include Tablet {
        display: none;
      }
    }

    .quote:nth-of-type(n+3) {
      @include Notebook {
        display: none;
      }

      @include Desktop {
        display: none;
      }
    }

    .quote {
      width: 300px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      padding: 40px;
      background-color: #FFF7EB;
      border-radius: 20px;
      transition: transform 0.5s;
      cursor: pointer;

      @include Tablet {
        width: 250px;
      }

      @include Notebook {
        width: 280px;
      }

      .header {
        display: flex;
        align-items: center;
        gap: 20px;

        &__image {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: grey;
        }

        .information {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &__name {
            @include small_title;
          }

          &__country {
            @include text;
          }
        }
      }

      &__text {
        @include text;
        font-size: 18px; 
      }
    }
  }
}