.best_products {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
  background-color: #F3FAE6;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
      @include sign;
    }

    &__name {
      @include title;
    }

    &__main {
      @include text;
    }
  }

  .examples {
    display: flex;
    gap: 150px;

    &__left, &__right {
      display: flex;
      flex-direction: column;
      gap: 70px;
      

      .example {
        display: flex;
        gap: 15px;

        .title {
          @include small_title;
          font-size: 21px;
          align-self: center;
        }

        .image {
          border-radius: 50%;
          height: 70px;
          width: 70px;
          background-color: grey;
        }

        .svg {
          align-self: center;
        }

        .svg3 {
          position: relative;
          bottom: 25px;
        }
      }
    }
  }
}

.examples__left {
  .example {
    align-self: flex-end;
  }
}

.examples__right {
  .example {
    align-self: flex-start;
  }
}
