.best_products {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center;
  background-color: #F3FAE6;

  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
      @include sign;
    }

    &__name {
      @include title;

      @include Phone {
        text-align: center;
        font-size: 40px;
      }
    }

    &__main {
      @include text;

      @include Phone {
        text-align: center
      }
    }
  }

  .examples {
    display: flex;
    gap: 150px;

    @include Tablet {
      gap: 5px;
    }

    @include Phone {
      gap: 10px;
    }

    &__left, &__right {
      display: flex;
      flex-direction: column;
      gap: 70px;
      

      .example {
        display: flex;
        gap: 15px;
        
        @include Tablet {
          transform: scale(0.7);
        }

        .title {
          @include small_title;
          font-size: 21px;
          align-self: center;

          @include Phone {
            font-size: 15px;
          }
        }

        .image {
          border-radius: 50%;
          height: 70px;
          width: 70px;
          background-color: yellowgreen;

          @include Tablet {
            height: 50px;
            width: 50px;
          }

          @include Phone {
            height: 50px;
            width: 50px;
          }
          
        }

        .svg {
          align-self: center;

          @include Phone {
            display: none;
          }
        }

        .svg3 {
          position: relative;
          bottom: 25px;

          @include Phone {
            display: none;
          }
        }
      }
    }
  }
}

.examples__left {
  .example {
    align-self: flex-end;
  }
}

.examples__right {
  .example {
    align-self: flex-start;
  }
}
