.top_bar { 
  display: flex;
  padding: 0 40px 0;
  justify-content: space-between;
  align-items: center;
  // height: 36px;
  background-color: #88B13E;

  @include Phone {
    padding: 10px;
    justify-content: space-around;
  }

  &__logo {
    display: none;
    @include title;
    text-decoration: none;

    @include Phone {
      font-size: 30px;
      display: block;
      width: 90px;
    }
  }

  &__contacts { 
    display: flex;
    flex-direction: row;
    // height: 36px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @include Phone {
      gap: 10px;
      flex-direction: column;
    }


    &__tel {
      .tel__link {
        text-decoration: none;
        font-size: 15px;
        font-family: 'Jost', sans-serif;
        color: white;
      }
    }

    &__mail {
      .mail__link {
        text-decoration: none;
        font-size: 15px;
        font-family: 'Jost', sans-serif;
        color: white;
      }

      @include Phone {
        padding-bottom: 10px;
      }
    }
  }

  &__lang {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

    .lang {
      text-decoration: none;
      font-size: 15px;
      font-family: 'Jost', sans-serif;
      color: white;
      cursor: pointer;
    }

    .USD {
      text-decoration: none;
      font-size: 15px;
      font-family: 'Jost', sans-serif;
      color: white;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        height: 20px;
        width: 20px;
        object-fit: cover;
      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  padding-right: 20px;

  @include Phone {
    flex-direction: column;
    justify-content: space-around;
  }

  &__logo {
    @include title;
    text-decoration: none;

    @include Phone {
      display: none;
    }
  }

  &__menu {
    display: flex;
    gap: 30px;

    @include Tablet {
      gap: 15px;
    }

    @include Phone {
      gap: 15px;
    }
    
    .menu__item {
      text-decoration: none;
      @include button;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.5s;
    }

    .menu__item:hover {
      border-bottom: 1px solid black;
    }
  }

  &__right_side_bar {
    display: flex;
    gap: 20px;

    .right_side_bar__icon {
      height: 100%;

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
