.news {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  &__sign {
    @include sign;
    align-self: center;
  }

  &__title {
    @include title;
    align-self: center;
  }

  &__post_block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: center;

    @include Full {
      flex-direction: row;
    }

    @include Phone {
      gap: 0px;
    }

    .post {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 415px;

      @include Phone {
        transform: scale(0.7);
        gap: 10px;
      }

      &__image:hover {
        transform: scale(1.1);
      }

      &__image {
        width: 415px;
        height: 270px;
        background-color: grey;
        transition: transform, 0.5s;
        cursor: pointer;
        object-fit: cover;
      }

      &__sign {
        @include sign;
      }

      &__title {
        @include small_title;
      }

      &__text {
        @include text;
      }

      &__information {
        @include text;
        display: flex;
        gap: 10px;
      }
    }
  }


  &__view_all {
    @include button;
    text-decoration: none;
    align-self: center;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-bottom 0.5s;
    padding: 5px;
  }

  &__view_all:hover {
    border-bottom: 2px solid black;
  }
}