.thank_you {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  background-color: #FCEEE7;
  gap: 30px;
  height: 400px;

  @include Phone {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__sign {
    @include sign;
  }

  &__title {
    @include title;

    @include Phone {
      text-align: center;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 46px;
    border: 2px solid black;
    line-height: 100%;
    margin-top: 40px;
    transition: background-color 0.5s;
    cursor: pointer;

    .button {
      width: max-content;
      text-decoration: none;
      @include button;
      transition: color 0.5s;
    }
  }

  &__button:hover {
    background-color: black;
    
    .button {
      color: white;
    }
  }
}
