.thank_you {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  background-color: #FCEEE7;
  gap: 30px;

  &__sign {
    @include sign;
  }

  &__title {
    @include title;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 46px;
    border: 2px solid black;
    line-height: 100%;
    margin-top: 40px;

    .button {
      width: max-content;
      text-decoration: none;
      @include button;
    }
  }
}
